$feedback-display-time: 200ms; // フィードバック表示時間
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); } // 振幅を小さく
  20%, 40%, 60%, 80% { transform: translateX(5px); } // 振幅を小さく
}

// index-------------------------------------------------

body {
  background-color: #FFFFFF; // 白をベースに
  color: #333; // 読みやすいダークグレーのテキスト色
  font-family: 'Comic Sans MS', cursive, sans-serif; // 子供向けのフォント
}
header {
  background-color: #fff; // 明るい黄色
  padding: 20px;
  text-align: center;
  .title {
    color: #333;
    font-size: 2.5em;
  }
  p {
    color: #555; // やや薄いグレー
    font-size: 1.5em;
  }
}
// メインコンテンツのスタイル
main .wrapper_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  .wrapper_section {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    .clef_text {
      font-size: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .wrapper_practice {
      display: flex;
      justify-content: space-around;
      gap: 20px;
    
      .practice_content img {
        object-fit: contain; // 画像の比率を保ちながらコンテナに収める
        max-height: 200px; // 画像の最大高さを大きくする
        border: 2px solid #64B5F6;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); // 画像に影をつける
        transition: transform 0.2s ease, box-shadow 0.2s ease; // トランジションを追加
    
        &:hover {
          transform: scale(1.02); // ホバー時に画像を少し大きくする
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5); // ホバー時に影をより強調する
        }
      }
    }
  }
}
// ---------------------------------------------
.wrapper_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #fff;
  border-radius: 10px;

  .back_btn {
    padding: 10px 10px;
    background-color: #4CAF50; // 明るい緑色
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // 画像に影をつける
    &:hover {
      background-color: darken(#4CAF50, 10%); // ホバー時に背景色を暗くする
      transform: scale(1.05); // ホバー時に少し大きくする
    }
  }

  .countdown {
    padding: 10px 10px;
    background-color: #F44336; // 明るい赤色
    color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    
  }
}
.wrapper_flashcard {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #64B5F6;
  border-radius: 10px;
  margin: 0 50px;
  position: relative;
  height: 200px;

  #flashcard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shake {
    animation: shake 0.1s ease-in-out; // 時間を短く
  }

  #feedback {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none; // 初期状態では非表示
    
    &.hidden, span.hidden {
      display: none; // hiddenクラスが付与された場合も非表示
    }

    #correct {
      color: red;
      opacity: 0.7; // 不透明度を下げる
      font-weight: 1000; // 文字（丸）を太くする
      font-size: 8rem;
    }
  }
}

.buttons {
  display: flex; 
  justify-content: center;
  gap: 15px; // ボタン間の間隔
  margin-top: 30px;


  .note-button {
    width: 80px; // 幅を固定
    height: 80px; // 高さを固定
    line-height: 50px; // テキストを中央に配置
    border: none;
    border-radius: 5px;
    background-color: #64B5F6; // 明るい青色
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; // トランジションを背景色のみに適用
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // 画像に影をつける
    &:hover {
      background-color: darken(#64B5F6, 10%); // ホバー時に背景色を暗くする
      transform: scale(1.05); // ホバー時に少し大きくする
    }
  }
}
// ---------------------
#score {
  font-size: 3em; // フォントサイズを大きくする
  color: #FF69B4; // 明るいピンク色で視認性を高める
  text-align: center;
  margin: 30px; // 上のマージンを少し大きくして空間を作る
  font-weight: bold; // フォントを太くして強調
  background-color: #FFFACD; // 背景色をレモン色にして目を引く
  padding: 20px; // パディングを追加してテキストを囲む
  border-radius: 15px; // 角を丸くして柔らかい印象に
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // 影をつけて立体感を出す
}
.result_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;

  a {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 25px; // 角を丸くする
    background-color: #FF69B4; // 明るいピンク色
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // やや大きめの影をつける

    &:hover {
      background-color: #FF1493; // 濃いピンク色に変更
      transform: scale(1.05); // 少し大きくする
    }

    &:active {
      transform: scale(0.95); // タッチされたときに少し小さくする
    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    gap: 10px;

    a {
      padding: 10px 20px; // 画面が狭い時はパディングを少し減らす
    }
  }
}