@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}
body {
  background-color: #FFFFFF;
  color: #333;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
header .title {
  color: #333;
  font-size: 2.5em;
}
header p {
  color: #555;
  font-size: 1.5em;
}

main .wrapper_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}
main .wrapper_main .wrapper_section {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
main .wrapper_main .wrapper_section .clef_text {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .wrapper_main .wrapper_section .wrapper_practice {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
main .wrapper_main .wrapper_section .wrapper_practice .practice_content img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 200px;
  border: 2px solid #64B5F6;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
main .wrapper_main .wrapper_section .wrapper_practice .practice_content img:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.wrapper_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #fff;
  border-radius: 10px;
}
.wrapper_nav .back_btn {
  padding: 10px 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.wrapper_nav .back_btn:hover {
  background-color: #3d8b40;
  transform: scale(1.05);
}
.wrapper_nav .countdown {
  padding: 10px 10px;
  background-color: #F44336;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
}

.wrapper_flashcard {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #64B5F6;
  border-radius: 10px;
  margin: 0 50px;
  position: relative;
  height: 200px;
}
.wrapper_flashcard #flashcard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_flashcard .shake {
  animation: shake 0.1s ease-in-out;
}
.wrapper_flashcard #feedback {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}
.wrapper_flashcard #feedback.hidden, .wrapper_flashcard #feedback span.hidden {
  display: none;
}
.wrapper_flashcard #feedback #correct {
  color: red;
  opacity: 0.7;
  font-weight: 1000;
  font-size: 8rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}
.buttons .note-button {
  width: 80px;
  height: 80px;
  line-height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #64B5F6;
  color: white;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.buttons .note-button:hover {
  background-color: #349ef3;
  transform: scale(1.05);
}

#score {
  font-size: 3em;
  color: #FF69B4;
  text-align: center;
  margin: 30px;
  font-weight: bold;
  background-color: #FFFACD;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.result_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.result_btn a {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: #FF69B4;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.result_btn a:hover {
  background-color: #FF1493;
  transform: scale(1.05);
}
.result_btn a:active {
  transform: scale(0.95);
}
@media (max-width: 768px) {
  .result_btn {
    flex-direction: row;
    gap: 10px;
  }
  .result_btn a {
    padding: 10px 20px;
  }
}/*# sourceMappingURL=style.css.map */